html {
    margin: 0;
    padding: 0;
    min-width: 680px;
}

body {
    margin: 0;
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6BBAE8;
    padding: 0px 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 10;
    min-width: 680px;
}

.navbar_logo {
    font-size: 24px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    position: relative;
    width: auto;
    line-height: 37.6px;
}

.navbar_menu li a {
    padding: 8px 24px;
}

.navbar_menu li a:hover {
    background-color: #C6E6F9;
    border-radius: 4px;
}

.navbar_menu > li > ul{
    display: none;
    padding-left: 0;
    position: absolute;
    list-style: none;
    background-color:#6BBAE8;
    top: 100%;
    left:0;
}

.navbar_menu > li > ul a{
    padding: 8px 16px;
}

.navbar_menu li:hover > ul{
    display: inline-block;
}

.navbar_sign {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navbar_sign li a{
    padding: 8px 12px;
    font-size: 12px;
}

.navbar_sign li a:hover {
    background-color: #C6E6F9;
    border-radius: 4px;
}

main {
    display: flex;
    height: calc(100vh + 110px + 60px + 40px);
    padding-bottom: 110px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

div{
  box-sizing: border-box;
}

/* modal popup */

.modal_content > input{
  margin-bottom: 10px;
}

input[type=time] {
  border: none;
  color: #2a2c2d;
  font-size: 13px;
  font-family: helvetica;
  font-weight: bold;
  width: 200px;
  outline: none;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  padding: 15px 4px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #89B2E9;
  border-radius: 15%;
  padding: 15px 13px;
  cursor: pointer;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #89B2E9;
  border-radius: 15%;
  padding: 15px 13px;
  cursor: pointer;
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #1835D0;
  border-radius: 15%;
  color: #fff;
  padding: 15px 13px;
}

/* 'X' button for resetting/clearing time */
input[type=time]::-webkit-clear-button {
  display: none;
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type=time]::-webkit-inner-spin-button {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
}

.input_form{
  background-color: #f8f9fa;
  padding: 20px;
  padding: 6px 6px;
  margin-bottom: 1.3rem;
  border-radius: 5px;
  width: 200px;
  display: inline-block;
  resize: none;
}

.input_form:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #1263CE;
  outline: none;
  box-shadow: none;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_overlay{
  background-color: rgba(0,0,0,0.6);
  width: 100%; 
  height: 100%;
  position: absolute;
}

.modal_content{
  background-color: white;
  padding: 50px 100px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.modal_content > p{
  display: inline-block;
}

.modal_content > button{
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal_content > h3{
  margin-bottom: 20px;
}

.hidden{
  display: none;
}

/* modal end ------ */

/* 달력 */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* 좌우 버튼 */
.btn {
 display: block;
 width: 20px;
 height: 20px;
 border: 3px solid #000;
 border-width: 3px 3px 0 0;
 cursor: pointer;
}

.prevDay {
  transform: rotate(-135deg);
}

.nextDay {
  transform: rotate(45deg);
}

.dateHead div {
    background: #6BBAE8;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
  
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid div {
  padding: .6rem;
  font-size: .9rem;
}

.dateBoard div {
  font-weight: bold;
  min-height: 6rem;
  padding: .6rem .8rem;
  border-radius: 5px;
  border: 1px solid #eee;
}

.noColor {
  background: #eee;
}

.date{
  color: #222;
  cursor: pointer;
}

.date:hover{
  background-color: #C6E6F9;
}

.today{
  color: red;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;  
  font-family: Pretendard;
}

.rap {
  width: 70%;
  padding: 0 1.4rem;
  margin-top: 1.4rem;
}

.dateHead {
  margin: .4rem 0;
}

/* ---- */

footer {
    width: 100%;
    height: 110px;
    bottom: 0px;
    position: absolute;
    background-color: #f1f4f7;
    /* border-top: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer > p:first-child{
    font-size: 15px;

}

footer > p{
    margin: 2px;
    margin-left: 25px;
    font-size: 8px;
    text-align: center;
    color: #222222;   
}