@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    min-width: 680px;
}

body {
    margin: 0;
}

main {
    display: flex;
    height: auto;
    padding-bottom: 110px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 12px;
    position: sticky;
    top: 0px;
    height: 60px;
    z-index: 10;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    font-weight: 600;
  }
  
  .navbar_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .navbar_logo img{
    width: 100px;
    height: 40px;
    cursor: pointer;
  }
  
  .navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .navbar_menu li {
    position: relative;
    width: auto;
    line-height: 37.6px;
  }
  
  .navbar_menu li a {
    padding: 8px 24px;
  }
  
  .navbar_menu li a:hover {
    background-color: #C6E6F9;
    border-radius: 4px;
  }
  
  .navbar_sign {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-right: 20px;
  }
  
  .navbar_sign li a{
    padding: 8px 12px;
    font-size: 12px;
  }
  
  .navbar_sign li a:hover {
    background-color: #C6E6F9;
    border-radius: 4px;
  }

footer {
    width: 100%;
    height: 110px;
    bottom: 0px;
    position: absolute;
    background-color: #f1f4f7;
    /* border-top: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer > p:first-child{
    font-size: 15px;
}

footer > p{
    margin: 2px;
    margin-left: 25px;
    font-size: 8px;
    text-align: center;
    color: #222222;   
}

.container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: 
    'QnA calender'
    'info calender';

    width: 60%;
    padding: 10px;
    height: 50vh;
    background-color: #6BBAE8;
}

.player-content {
    display: flex;
    flex-direction: column;
    width: 820px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin:5px;
    background-color:SEASHELL;
    align-items: center;
    justify-content: center;
    font-family: 'LINESeedKR-Bd';
}

.swiper {
	display: table; 
	position: relative;
	width: 800px;
    height: 440px;
	overflow: hidden;
	margin: 0 auto;
}

.slider * {
    vertical-align: middle;
}

.wrapper { 
	display: table; 
	position: absolute;
	width: 1600px;
	transition: all .8s ease;
}

.wrapper .slider {
	display: table-cell;
	width: 800px;
    height: 440px;
    margin: 5px;
    color: white;
    font-size: 35px;
    text-align: center;
    background-color: silver;
}

.pagination { 
	position: absolute; 
	text-align:center;
	bottom: 10px; 
	width: 100%
}

.pagination .bullet {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 0 2px;
	cursor: pointer;
}

.pagination .bullet.active {
	background-color: #ff822e;
}

.medal {
    margin: 10px auto 10px auto;
}

.trophy {
    margin: 10px auto auto auto;
}

.first-profil {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.player-name {
    margin-bottom: 5px;
}

.small-font {
    font-size: 25px;
}

.climbing-level {
    width: 800px;
    height: 200px;
    margin: 5px;
    color: black;
    font-size: 22px;
    text-align: center;
    position: relative;
}

.color-black {
    background-color: black;
    color: white;
}

.color-brown {
    background-color: #804000;
    color: white;
}

.color-gray {
    background-color: gray;
    color: white;
}

.color-purple {
    background-color: purple;
    color: white;
}

.color-red {
    background-color: red;
    color: white;
}

.color-blue {
    background-color: blue;
}

.color-green {
    background-color: green;
}

.color-orange {
    background-color: orange;
}

.color-yellow {
    background-color: yellow;
}

.color-white {
    background-color: white;
}

.climbing-level .climbing-label {
    margin-top: 10px;
}

.climbing-level .climbing-font {
    font-size: 20px;
}

.climbing-level .rank-part {
	position: absolute;
	font-size: 60px;
	float: left;
	margin-left: 2%;
	top: 60px;
	width: 15%;
}

.climbing-level .name-part {
	position: absolute;
	font-size: 60px;
	float: left;
	margin-left: 15%;
	top: 60px;
	width: 30%;
}

.climbing-level .score-part {
	position: absolute;
	float: left;
	margin-left: 45%;
	top: 60px;
	width: 20%;
}

.climbing-level .silver {
    float: left;
    width:30%;
}

.climbing-level .gold {
    float: left;
    margin-left: 5%;
    width:30%;
}

.climbing-level .bronze {
    float: right;
    width:30%;
}

.more {
    background-color: #f2f2f2;
    width: 24px;    
    height: 24px;
    border-radius: 12px;
    position: absolute;
    right: 8px;
    top: 10px;
}

.plus {
    margin-top: 1px;
}

.non-member_alert {
    width: 800px;
    height: 640px;
    margin: 5px;
    text-align: center;
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert_font {
	color: white;
    font-size: 40px;
    margin: 50px auto 50px auto;
}

.outer-circle {
	position: absolute;
	left: 555px;
	bottom: 35px;
	width: 130px;
  	height: 130px;
  	border-radius: 50%;
  	background-color: #f2f2f2;
}

.inner-circle {
	position: absolute;
	left: 580px;
	bottom: 60px;
	width : 80px;
  	height : 80px;
 	border-radius: 50%;
  	background-color: #f2f2f2;
}

.pie_wrap {
	display: flex;flex-wrap:wrap;width: 400px;margin: 50px auto 0;
	float: left;
	margin-left: 70%;
	margin-top: 5%;
}

.pie_res {
    position: relative;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
}

.pie {position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.pie circle {
    r:25%;
    cx:50%;
    cy:50%;
    fill:transparent;
    stroke-width:50%;
    stroke:#ddd;
    transform: rotate(-90deg);
    transform-origin:center;
    transition:all 0.5s;
}