@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    min-width: 810px;
}

body {
    margin: 0;
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.animation {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #0067A3;
}

.animation > img{
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 12px;
    position: sticky;
    top: 0px;
    height: 60px;
    z-index: 10;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    font-weight: 600;
  }
  
  .navbar_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .navbar_logo img{
    width: 100px;
    height: 40px;
    cursor: pointer;
  }
  
  .navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .navbar_menu li {
    position: relative;
    width: auto;
    line-height: 37.6px;
  }
  
  .navbar_menu li a {
    padding: 8px 24px;
  }
  
  .navbar_menu li a:hover {
    background-color: #C6E6F9;
    border-radius: 4px;
  }
  
  .navbar_sign {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-right: 20px;
  }
  
  .navbar_sign li a{
    padding: 8px 12px;
    font-size: 12px;
  }
  
  .navbar_sign li a:hover {
    background-color: #C6E6F9;
    border-radius: 4px;
  }

main {
    display: flex;
    height: auto;
    padding-bottom: 110px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 450px 300px;
    grid-template-rows: 450px;
    grid-gap: 1rem;
    grid-template-areas: 
    'photo_album calender';

    padding: 10px;
    height: calc(400px + 1rem);
}

.container h2{
    font-size: 20px;
    margin: 10px 10px;
}

.photo_album{
    grid-area: photo_album;
    background-color: #217af4;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    border-radius: 10px;
}

.photo_album > h2{
    background-color: #217af4;
}

.photo_slide{
    width: 100%;
    height: 400px;
    background-color: white;
}

.calender{
    grid-area: calender;
    background-color: white;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    position: relative;
    border-radius: 10px;
    min-width: 250px;
}

#mini_calender{
    display: block;
    background-color: white;
    width: calc(100% -20px);
    height: calc(70% - 10px);
    margin: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.rap{
    margin-left: 5px;
    margin-right: 5px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .5rem;
    margin: 0 auto;
    --start: 15%;
      
    height: 40px;
}

.header > h2{
    display: inline-block;
}


.dateHead div {
    background: #217af4;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: .4rem;
}

.grid {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-gap: 5px;
}

.grid > div {
font-size: .6rem;
}

.dateBoard > div {
font-weight: bold;
min-height: 2.5rem;
border-radius: 5px;
border: 1px solid #eee;
}

.noColor {
background: #eee;
}

.date{
color: #222;
cursor: pointer;
overflow: hidden;
}

.date > P{
padding: 0 0 .2rem .1rem;
margin-top: .2rem;
margin-bottom: 0;
}

.date:hover{
background-color: #C6E6F9;
}

.today{
color: red;
}

/* 달력에 일정 마크 */
.mark_container{
display: flex;
justify-content: flex-start;
align-items: center;
width: 100%;
}

.calender_mark{
height: 5px;
font-size: xx-small;
display: block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 1;
/* background-color: #217af4; */
color: white;
border-radius: 2px;
margin-bottom: 1px;
}

#this_week{
    display: block;
    background-color: white;
    width: calc(100% -20px);
    height: calc(30% - 10px);
    border-top: 2px white solid;
    border-radius: 0 0 10px 10px;
}

#this_week > h5{
    margin: 5px;
}

footer {
    width: 100%;
    height: 110px;
    bottom: 0px;
    position: absolute;
    background-color: #f1f4f7;
    /* border-top: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer > p:first-child{
    font-size: 15px;

}

footer > p{
    margin: 2px;
    margin-left: 25px;
    font-size: 8px;
    text-align: center;
    color: #222222;   
}

.myInfoBox {
	width: 800px;
    height: 5000px;
    margin: 5px;
    color: black;
    font-size: 22px;
    text-align: center;
    position: relative;
    background-color: pink;
}

.player-content {
    display: flex;
    flex-direction: column;
    width: 820px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin:5px;
    background-color:SEASHELL;
    align-items: center;
    justify-content: center;
    font-family: 'LINESeedKR-Bd';
}

.first-profil {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.player-name {
	font-size: 35px;
    margin-bottom: 5px;
}